@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins', sans-serif;
}




@layer components {
    @media (max-width: 382px) {
        .custom-smaller-width {
            width: auto !important; 
        }

        .input {
            @apply w-full
        }

        .text-xxs {
            font-size: 8px;
        }
        
        .mr-0 {
            margin-right: 6px !important;
        }

        .css-s9u0b.ps-collapsed {
            width: 60px !important;
            min-width: 58px !important;
            /* position: fixed !important;
            min-height: 100hv !important; */
        }

        .css-v1hnsi.ps-collapsed {
            width: 66px !important;
            min-width: 66px !important;
        }

        .extra-small-hidden-logo {
            display: none;
        }
        
    }
    

    @media (max-width: 375px) {
        .extra-small-container {
            width: 360px !important; 
            margin-right:  10px;
        }

        .small-cards-width {
            width: 240px;
            height: 150px;
        }
    }
    

    .space-between-header{
        margin-top: 3rem !important;
        background-color: brown;
    }

    .artFactory-navbar-height-fixed{
        @apply mt-[48px] !important;
    }
}